<%- include("partials/header") %>

<h1>
	INDEX 
</h1>

<% movies.forEach(function(movie){ %>
	<div>
		<h2>
			<%= movie.title %>
		</h2>
		<img src="<%= movie.image %>" >
		<p>
			<%= movie.body %>
		</p>
	</div>
<% }) %>

<%- include("partials/footer") %>