<%- include("../partials/header") %>

<div class="ui main text container segment">
	<div class="ui huge header">
		Edit <%= movie.title %>
	</div>
	<form class="ui form" action="/movies/<%= movie._id %>?_method=PUT" method="POST">
		<div class="field">
			<label>Movie Title</label>
			<input type="text" name="movie[title]" value="<%= movie.title %>">
		</div>
		<div class="field">
			<label>Movie Image</label>
			<input type="text" name="movie[image]" value="<%= movie.image %>">
		</div>
		<div class="field">
			<label>What is the movie about? What are your thoughts/opinions on it?</label>
			<textarea name="movie[body]"><%= movie.body %></textarea>
		</div>
		<input class="ui blue basic button" type="submit">
	</form>
</div>


<%- include("../partials/footer") %>