<%- include("../partials/header") %>

<div class="ui main text container segment">
	<div class="ui huge header">
		<%= movie.title %>
	</div>
	<div class="ui top attached">
		<div class="item">
			<img class="ui centered rounded image" src="<%= movie.image %>" >
			<div class="content">
				<span><%= movie.created.toDateString() %></span>
			</div>
			<div class="description">
				<p>
					<%= movie.body %>
				</p>
			</div>
			<a class="ui orange basic button" href="/movies/<%= movie._id %>/edit">Edit</a>
			<form id="delete" action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
				<button class="ui red basic button">
					Delete
				</button>
			</form>
			<p>
				<a class="ui green basic button" href="/movies/<%= movie._id %>/comments/new">New Comment</a>
			</p>
			<% movie.comments.forEach(function(comment){ %>
				<p>
					<strong><%= comment.author %></strong> - <%= comment.text %>
				</p>
			<% }) %>
		</div>
	</div>
</div>
	
<%- include("../partials/footer") %>