<%- include("../partials/header") %>

<div class="ui main text container segment">
	<div class="ui huge header">
		<%= movie.title %>
		<div style="display: inline">
			<a class="ui orange basic button" href="/movies/<%= movie._id %>/edit">Edit</a>
			<form id="delete" action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
				<button class="ui red basic button">
					Delete
				</button>
			</form>
		</div>
	</div>
	<div class="ui top attached">
		<div class="item">
			<img class="ui centered rounded image" src="<%= movie.image %>" >
			<div class="content">
				<span><%= movie.created.toDateString() %></span>
			</div>
			<div class="description">
				<p>
					<%= movie.body %>
				</p>
			</div>
			<br>
			<div class="ui comments">
				<h3 class="ui dividing header">
					Comments
				</h3>
				<a class="ui green basic button" href="/movies/<%= movie._id %>/comments/new">New Comment</a>
				<% movie.comments.forEach(function(comment){ %>
					<div class="comment">
						<div class="content">
							<strong class="author"><%= comment.author %></strong>
							<div class="text">
								<%= comment.text %>
							</div>
						</div>
					</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>
	
<%- include("../partials/footer") %>